
/* The stylesheet index.css is filled with the bone-status elements' attributes. */
/* 此文件用于存储关于页面上各个主干性元素的一些css属性，主要包括结构上的属性。 */
/* 如果要编辑这些元素的通用视觉性属性，应该放在thenes/theme-basic.css中。 */
/* 特例的视觉效果应该放在themes/***.css中作为“主题”，并修改change.js中的相关内容。 */

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/***************************************/

#bg{
  z-index: -1;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

#contain{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#search{
  /*margin: 0.93% 12% auto 12%;*/
  margin: 12% 11% 12% 11%;
}

#e-pos{
  margin: auto 10% auto 10%;
  padding: 4% 5% 3.31% 5%;
}

#e-chs{
	display: flex;
	align-items: center;
	justify-content: center;
}

#e-left, #e-right{
	font-size: 21px;
	transition: font-size 0.4s;
}

#e-left:hover, #e-right:hover{
	font-size: 25px;
}

#e-middle{
	font-size: 36px;
}

#sch{
  width: 100%;
  display: inline;
}

#schbox{
  width: 82%;
  height: 40px;
  outline: medium;
  text-indent: 20px;
  border-radius: 24px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#sch-go{
  padding: 13px;
  font-size: 16px;
  outline: medium;
  border-radius: 7px;
}

#theme-chs{
  margin-left: 14px;
}

#clean-box{
  margin-left: 14px;
}

#link{
  position: fixed;
  bottom: 0px;
  height: 38px;
  height: 38px;
}

#hitokoto-box{
  position: fixed;
  bottom: 0px;
  height: 27px;
  width: 100%;
}

#hitokoto{
  float: right;
  height: 27px;
  font-size: 21px;
}

/***************************************/

.not-select{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.theme-selected-on{
  border-radius: 4px;
  animation: theme-wake-up 0.36s, theme-wake-up-color 0.2s, theme-wake-up-background 0.2s;
}

.theme-selected-off, .theme-selected-on{
  margin: 7px;
  cursor: pointer;
  border-width: 3px;
}

.bottom-img-link>img{
  height: 38px;
  width: 38px;
}

@keyframes theme-wake-up {
  from{
    width: 0px;
    height: 0px;
    border-radius: 50%;
  }
  to{
    width: auto;
    height: auto;
    border-radius: auto;
  }
}
