
/* theme-dark.css is a kind of theme in dark♂. */

#schbox{
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 15px;
  border-left: 2px rgba(255, 0, 0, 0.2) solid;
  border-top: 2px rgba(0, 0, 0, 0.2) solid;
  border-right: 2px rgba(0, 0, 0, 0.2) solid;
  border-bottom: 2px rgba(255, 0, 0, 0.2) solid;
}

#schbox:hover{
  background-color: rgba(255, 255, 255, 0.9);
}

#sch-go{
  color: #48D;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px #999 solid;
}

#sch-go:hover{
  background-color: rgba(255, 255, 255, 0.9);
}

#link-show{
  font-weight: bold;
  color: black;
}

#link-show:hover{
  font-weight: bold;
  color: green;
}

.e-selected-on{
  color: blue;
  text-shadow: 0px 0px 13px blue;
}

.e-selected-off{
  color: black;
  text-shadow: 0px 0px 13px #222;
}
