
/* theme-dark.css is a kind of theme in orange. */

#e-left, #e-right{
  color: white;
}

#e-left:active, #e-right:active{
  color: #E7E7E7;
}

#e-middle, #hitokoto{
  color: #EC0;
}

#e-middle:hover, #hitokoto:hover{
  color: yellow;
}

#e-middle:active{
  color: #D90;
}

#hitokoto{
  font-weight: 600;
}

.theme-selected-on{
  background: #E90;
  color: #EEE;
  border-color: #E90;
}

@keyframes theme-wake-up-background {
  from{
    background: none;
  }
  to{
    background: #E90
  }
}
