
/* theme-dark.css is a kind of theme in light. */

#e-l-btn, #e-left, #e-right, #e-r-btn{
	color: white;
}

#e-middle{
	color: #8CF;
}

#e-middle:hover{
	color: orange;
}

.theme-selected-on{
  background: #E90;
  color: #EEE;
  border-color: #E90;
}

@keyframes theme-wake-up-background {
  from{
    background: none;
  }
  to{
    background: #E90
  }
}
